.content-container {
  max-width: max-content;
  margin: 0 auto;
}

ion-list {
  margin-top: 16px;
}

ion-item {
  --inner-padding-end: 12px;
}

ion-toolbar ion-icon {
   margin-left: 12px;
   align-items: flex-end;
}

ion-title {
  text-align: center;
}
