.content-container {
  margin: 0 auto;
}

ion-list {
  margin-top: 16px;
}

ion-item {
  --inner-padding-end: 12px;
}

ion-toolbar ion-button {
  margin-left: 4px;
}


ion-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

ion-input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

ion-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
}


