<ion-header>
  <ion-toolbar>

    <ion-title slot="start">
      {{ studentNumber }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container ion-padding">
  <ion-item>
    <ion-input
      label="Enter ingredients"
      labelPlacement="stacked"
      placeholder="e.g. carrots, beef, potatoes"
      [(ngModel)]="ingredients">
    </ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="searchRecipes()">
    Search Recipes
  </ion-button>

  <ion-list *ngIf="recipes.length">
    <ion-item
      *ngFor="let recipe of recipes"
      button
      (click)="openRecipe(recipe.id)">

      <ion-thumbnail slot="start">
        <ion-img [src]="recipe.image"></ion-img>
      </ion-thumbnail>

      <ion-label>{{ recipe.title }}</ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>